* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat", sans-serif;
}

h3 {
	color: navy;
}

#members {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 1rem;
}

.member-card {
	border: 1px solid rgb(0 0 0 /.1);
	background-color: aliceblue;
	padding: 1rem;
}