@media only screen and (min-width: 950px) {
	.discover-grid {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.image-bar img {
		transition: transform 0.3s ease-in-out;
	}

	.image-bar img:hover {
		transform: scale(1.1);
	}

	.image-bar figcaption {
		margin: 1rem;
		font-size: 16px;

	}


	#myButton {
		display: none
	}

	ul.menuLinks,
	ul.menuLinks.open {
		display: flex;
		justify-content: flex-end;
	}

	ul.menuLink a:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	nav {
		grid-template-rows: 1fr;
	}

	#hero {
		position: relative
	}

	.current-happenings {
		grid-template-columns: 700px 300px auto;
		/* Three columns on larger screens */
		gap: 20px;
	}

	#spotlight {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.join {
		position: absolute;
		bottom: 450px;
		left: 400px;
		transform: translate(-50%, 50%);
		background-color: white;
		color: black;
		padding: 25px;
		border-radius: 5px;
		width: 225px;
		font-size: 25px;
		cursor: pointer;
	}

	.join-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

}