:root {
	--font-family-primary: "Montserrat", sans-serif;
	--font-family-secondary: 'Roboto', sans-serif;
	--color-primary: #134E27;
	--color-secondary: #ffff;
	--tertiary-color: #423ba3;
	--color-accent: #0f47e3;
	--color-hover: rgb(22 33 60 / 84%);
	--color-border: rgb(0 0 0 / .2);
	--color-border-light: rgb(0 0 0 /.1);
	--padding-standard: 1rem;
	--padding-large: 15px;
	--border-radius: 10px;
}

* {
	padding: 0;
	margin: 0;
}

.page-header,
.page-header h1,
.page-header h3 {
	margin: 1rem 3rem;
}

body {
	font-family: var(--font-family-primary);
}

p {
	text-align: center;
	font-size: 18px;
}


header {
	display: grid;
	grid-template-columns: 50px auto 44px;
	align-items: center;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	font-family: var(--font-family-secondary);
	font-size: 20px;
	gap: 20px;
	padding: var(--padding-standard);

}

img {
	max-width: 100%;
	height: auto;
}

/* navbar */

nav {
	background-color: var(--color-primary);
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
}

#myButton::before {
	content: "=";
}

#myButton {
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: right;
	padding: var(--padding-standard);
	color: var(--color-secondary);
}

ul.menuLinks li a {
	display: block;
	padding: .75rem 2vw;
	text-decoration: none;
	color: var(--color-secondary);
}
ul.menuLinks li {
padding: var(--padding-standard);
}

ul.menuLinks li:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.2);
	padding: var(--padding-standard);
	cursor: pointer;
}

li.current-menu-item {
	background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks {
	list-style: none;
}

#myButton.open::before {
	content: "x";
}

nav ul {
	overflow: hidden;
}

nav.open {
	grid-template-rows: 1fr;
}

/* index main grid */

.join {
	position: absolute;
	bottom: 375px;
	left: 150px;
	transform: translate(-50%, 50%);
	color: black;
	width: 225px;
}

.current-happenings {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin: 3rem;
	
}

.current-happenings h2 {
	font-family: var(--font-family-secondary);
	background-color: var(--tertiary-color);
	width: 100%;
	padding: 20px 0 20px 0;
	border-radius: 5px 5px 0 0;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.current-happenings h3,
.current-happenings p {
	padding: 20px;
}


.form-card h2 {
	margin-bottom: 45px;
}

.smaller-item h2 {
	margin-bottom: 6px;
}

.grid-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	padding-bottom: 20px;
}


button {
	padding: var(--padding-large);
	border-radius: var(--border-radius);
	font-size: 20px !important;
	cursor: pointer;
	background-color: var(--color-accent);
	color: var(--color-secondary);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border: 1px solid var(--color-border);
}

button:hover {
	background-color: var(--color-hover);
	color: white;
}


button > .read-more {
	margin: 20px;
	margin-top: var(--padding-large);
	text-decoration: none;
	color: inherit;
}

button.read-more:hover {
	background-color: var(--color-hover);
}

#book-month {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-links a {
	color: inherit;
	text-decoration: underline;
}

.social-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

/* search page */
#search-results {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	margin: 3rem;
}

#search-input {
	margin: 0;
}

.book-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
}

input[type="text"] {
	width: 50%;
	padding: var(--padding-standard);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border);
}

.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 1rem;
}

/* join page */
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-standard);
}

.form h2 {
	font-size: 2.5rem;
	padding-bottom: 10px;
}

form {
	margin: 1rem 0;
}

.bookclub-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

label {
	display: block;
	font-size: 1.5rem;
	color: rgb(40 40 42);
	padding: .5rem;
}


.margin {
	margin-top: 20px;
	font-size: 1.5rem;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
textarea,
select {
	display: block;
	margin: .1rem 0 1rem 0;
	padding: .3rem;
	border: 1px solid #999;
	border-radius: 4px;
	border-left-width: 5px;
	border-left-color: #555;
	font-size: 1rem;
	color: #3D405B;
	width: 500px;
	height: 35px;
}

input[type="radio"] {
	margin-right: .5rem;
}

input:required {
	border-left-color: #d70000;
}

input:focus {
	border-left-color: black;
	outline: none;
}

input:required:valid {
	border-left-color: green;
}

input[type=submit] {
	margin-top: var(--padding-large);
	padding: var(--padding-large);
	border-radius: var(--border-radius);
	width: 200px;
	font-size: 25px;
	cursor: pointer;
	background-color: var(--color-accent);
	color: var(--color-secondary);
	-webkit-appearance: none;
	appearance: none;
}

input[type=submit]:hover {
	background-color: var(--color-hover);
}

input:-webkit-autofill {
	-webkit-text-fill-color: #3D405B;
}


.image-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition: transform 0.5s;
}

.image-title {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	font-size: 1.2em;
}

.image-container:hover {
	transform: scale(1.1);
}

.modal {
	padding: 1em;
	max-width: 50ch;
	border: 0;
	box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.modal::backdrop {
	background: rgb(0 0 0 / 0.5);
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
}

.modal {
	background-color: white;
	border-radius: 10px;
	border: 1px solid rgb(0 0 0 / 0.1);
	margin: 0 auto;
	top: 50px;
	width: 500px;
}



/* footer styles */
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: var(--font-family-primary);
	background-color: var(--color-primary);
	color: var(--color-secondary);
	text-align: center;
	max-width: 100%;
	align-content: center;
	position: relative;
	height: 150px;
	gap: 20px;
}

#footer-search {
	margin-top: 275px
}


/* Thank you page  */
#results {
	background-color: #F4F1DE;
	padding: 0 var(--padding-standard);
	border: 1px solid #E07A5F;
	border-radius: 6px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-standard);
	height: 675px;
}

.info h2,
p,
a {
	font-size: 1rem;
	padding: 10px 0;
}

.confetti-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.confetti {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	animation: fall 2s linear infinite;
}

.confetti:nth-child(2n) {
	background-color: blue;
	animation-duration: 3s;
}

.confetti:nth-child(3n) {
	background-color: green;
	animation-duration: 4s;
}

@keyframes fall {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
		opacity: 0;
	}
}